<header class="sticky w-full px-8 py-4 bg-slate-300/2 z-0 shadow-xl">
  <h1 class="text-lg font-bold">QR CURP READER</h1>
</header>
<main class="w-full pt-16 relative">
  <section class="flex w-full justify-center h-full items-center">
    <form [formGroup]="personalInformationForm"
      class="max-w-[800px] w-full h-full  shadow-2xl rounded-3xl flex flex-col ">
      <div class="w-full py-8 flex flex-col sm:flex-row justify-around items-center">
        <h3 class="text-2xl  font-semibold text-slate-950">Mi informacion</h3>
        <button type="button" (click)="startQrCodeScanner()"
          class="w-11 h-11 border rounded-full flex items-center justify-center shadow-lg hover:bg-slate-400 transition">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="qr_code"></mat-icon>
        </button>
      </div>
      <div class="flex flex-col h-full px-4">
        <div>
          <label>
            <h4 class="text-sm font-semibold text-slate-950">CURP</h4>
          </label>
          <mat-form-field class="w-full">

            <input formControlName="curp" matInput placeholder="XXXXX999999XXXXX99">
          </mat-form-field>
        </div>
        <div>
          <label>
            <h4 class="text-sm font-semibold text-slate-950">Nombre(s)</h4>
          </label>
          <mat-form-field class="w-full">

            <input formControlName="nombreCompleto" matInput placeholder="Nombre completo...">
          </mat-form-field>
        </div>
        <div>
          <label>
            <h4 class="text-sm font-semibold text-slate-950">PRIMER APELLIDO</h4>
          </label>
          <mat-form-field class="w-full">

            <input formControlName="primerApellido" matInput placeholder="Placeholder">
          </mat-form-field>
        </div>
        <div>
          <label>
            <h4 class="text-sm font-semibold text-slate-950">SEGUNDO APELLIDO</h4>
          </label>
          <mat-form-field class="w-full">

            <input formControlName="segundoApellido" matInput placeholder="Placeholder">
          </mat-form-field>
        </div>
        <div class="flex flex-col md:flex-row justify-between items-center md:gap-5">
          <div class="flex-1 w-full">
            <label>
              <h4 class="text-sm font-semibold text-slate-950">Fecha de nacimiento</h4>
            </label>
            <mat-form-field class="w-full" color="accent" appearance="outline">

              <mat-label>Fecha de nacimiento</mat-label>
              <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker1">

              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="flex-1 w-full">
            <label>
              <h4 class="text-sm font-semibold text-slate-950">Sexo</h4>
            </label>
            <mat-form-field class="w-full">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo">
                <mat-option *ngFor="let sexo of sexos" [value]="sexo">
                  {{sexo.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="flex-1 flex gap-5">
          <div class="flex-1">
            <label>
              <h4 class="text-sm font-semibold text-slate-950">Entidad de nacimiento</h4>
            </label>
            <mat-form-field class="w-full">
              <mat-label>Entidad de nacimiento</mat-label>
              <mat-select formControlName="entidadFederativa">
                <mat-option *ngFor="let entidad of entidades" [value]="entidad">
                  {{entidad.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="w-[20%]">
            <label>
              <h4 class="text-sm font-semibold text-slate-950">No.</h4>
            </label>
            <mat-form-field class="w-full">

              <input readonly formControlName="numeroEntidadFederativa" matInput placeholder="No. entidad">
            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="px-10 my-10">
        <button (click)="savePersonalInformation()"
          class="w-full rounded-xl py-4 bg-slate-950 text-white font-semibold hover:bg-slate-700 transition ">Guardar</button>
      </div>
    </form>
  </section>
</main>